.landing-page .navbar .navbar-right {
    position: relative;
    right: 0;
    font-size: 22px;
}

.landing-page .navbar.affix {
    z-index: 4000;
    background-color: #BFBFBF !important;
    height: 60px;
    opacity: 1;
    margin-top: 0px;
}

.landing-page .app-header {
    padding-top: 100px;
    background-color: #252D35;
    background-image: url("Theme/img/home/background_warehouse_1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover !important;
}


.color-white-title {
    color: white;
    position: relative;
    font-size: 50px;
}

.pfblock-lib {
    background-image: url("Theme/img/home/skyview.jpg") !important;
    /* background-color: #222; */
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}

.white {
    color: white;
}

.centered {
    text-align: center;
    color: #EAEAEA;
    font-size: 55px;
    margin-bottom: 50px;
    font-weight: 300;
}

ul {
    list-style: none;
    font-size: 30px;
}

.row > [class*="col-"] {
    margin-bottom: 50px;
}

button {
    opacity: 0.1;
    position: absolute;
    left: 50%;
    width: 722px;
    height: 35px;
    margin: 44px 21px 0 -377px;
    line-height: 10px;
    background: url('Theme/img/home/dotted_line.png') repeat-x 0 50%;
    border: none;
}